   **Data types and Structures Theory Questions-**

Q1- What are data structures, and why are they important?

 - In Python, data structures refer to the ways in which data is organized, stored, and manipulated in a program. These structures are implemented through built-in Python collections or can be defined using custom classes. Why They Are Important?

- Different data structures optimize specific operations. Python's built-in
data structures are optimized for common tasks like searching, inserting, deleting, and iterating over data.

- Python’s built-in data structures are optimized for memory usage, allowing for efficient storage and retrieval of data.

- Data structures allow Python developers to solve real-world problems
efficiently.

Q2- Explain the difference between mutable and immutable data types with examples.

1.Mutable Data Types- A mutable data type is one where the value or contents of the object can be changed after the object has been created. In other words, mutable objects can be modified in place.

2.Some of the mutable data types in python are- lists,dictionaries,sets, etc.

In [1]:
#example of mutable data types-
# Lists (mutable)
my_list = [1, 2, 3]
print(my_list)

# Modify list
my_list.append(4)
my_list[0] = 10
print(my_list)

[1, 2, 3]
[10, 2, 3, 4]

3.Immutable Data Types- An immutable data type is one where the value or contents cannot be changed once the object is created. If you attempt to modify the value, a new object is created instead of modifying the original.

4.Some of the immutable data types in python are- tuples, integer, strings, etc.

In [2]:
# Tuples (immutable)
my_tuple = (1, 2, 3)
print(my_tuple)  # Output: (1, 2, 3)
my_tuple[0] = 10

(1, 2, 3)

TypeError: 'tuple' object does not support item assignment

Q3- What are the main differences between lists and tuples in Python?

1.Lists are mutable and suitable for data that may change.

2.Tuples are immutable and efficient for fixed collections of data.


Examples Given Below-

In [3]:
#example of mutable data types-
# Lists (mutable)
my_list = [1, 2, 3]
print(my_list)

# Modify list
my_list.append(4)
my_list[0] = 10
print(my_list)

[1, 2, 3]
[10, 2, 3, 4]

In [4]:
#example of immutable data types-
# Tuples (immutable)
my_tuple = (1, 2, 3)
print(my_tuple)  # Output: (1, 2, 3)
my_tuple[0] = 10

(1, 2, 3)

TypeError: 'tuple' object does not support item assignment

Q4- Describe how dictionaries store data.

- Python dictionaries are unordered collections of key-value pairs, where each key is unique and maps to a specific value. They are implemented using a hash table internally, which allows for fast lookups, insertions, and deletions.

Example-

my_dict = {'name': 'Alice', 'age': 25}


- Key: 'name', Value: 'Alice'
- Key: 'age', Value: 25

Q5- Why might you use a set instead of a list in Python?

- Uniqueness: When you need to ensure that elements are unique.
- Performance: When you need fast membership testing or set operations (union, intersection, etc.).
- Set operations: When you need efficient mathematical operations like union, intersection, or difference.
- Unordered collections: When the order of elements does not matter.



Q6- What is a string in Python, and how is it different from a list?

- In Python, a string is a sequence of characters enclosed in either single quotes (') or double quotes ("). Strings are a built-in data type used to store text data, and they are immutable, meaning that their contents cannot be changed after they are created.
- A list is an ordered collection of items, which can be of any data type (including numbers, strings, or other lists). Lists are mutable, meaning you can change, add, or remove elements after the list is created.
- The key difference between them is that a string is immutable but a list is mutable.


Q7- How do tuples ensure data integrity in Python?

- Tuples ensure data integrity in Python by being immutable—once created, their contents cannot be changed. This prevents accidental modifications, guarantees consistent data, and allows tuples to be safely used as dictionary keys or set elements. Their immutability also helps maintain data integrity in multi-threaded environments, as the data can't be altered unexpectedly.


Q8- What is a hash table, and how does it relate to dictionaries in Python?

- A hash table is a data structure that stores key-value pairs, using a hash function to map keys to specific indices for fast lookups.
- Python dictionaries (dict) are implemented as hash tables, where the keys are hashed, and values are stored at the computed index, allowing efficient operations like insertion, deletion, and lookup (usually O(1) time).


Q9- Can lists contain different data types in Python?

- Yes, a Python list can contain different data types. It is heterogeneous, meaning it can store elements of various types, such as integers, strings, floats, and booleans, in the same list.


Q10- Explain why strings are immutable in Python.

- Strings in Python are immutable because their content cannot be changed after creation. This ensures better performance, memory efficiency, and data consistency. It also allows strings to be hashable, enabling their use as dictionary keys or set elements.

Q11- What advantages do dictionaries offer over lists for certain tasks?

- Dictionaries offer advantages over lists for tasks that require fast lookups (O(1) time), key-value pairing, and ensuring unique keys. They are more efficient for tasks involving quick access by key, like storing user profiles or settings, while lists are better suited for maintaining ordered collections.
- Example Use Case:
- Dictionaries: Store user profiles, settings, or configurations where fast access by a unique key (e.g., user ID, setting name) is needed.
- Lists: Best suited for ordered collections or tasks where you need to maintain the order of elements.
- In summary, dictionaries are more efficient for tasks that require fast lookups, key-value associations, and uniqueness, while lists are better for maintaining ordered collections.

Q12- How do sets handle duplicate values in Python?

- In Python, sets automatically remove duplicate values. A set is an unordered collection of unique elements, meaning that if you try to add a duplicate value, it will be ignored.

Example:

my_set = {1, 2, 3, 3, 4, 5, 5}

print(my_set)

Output:

{1, 2, 3, 4, 5}

In this example, the duplicates 3 and 5 are removed when the set is created. Sets ensure that only one instance of each value is stored.



Q13- Describe a scenario where using a tuple would be preferable over a list.

- A tuple would be preferable over a list in scenarios where you need immutable data or when the data should remain unchanged throughout the program. Specifically:

- Scenario: Storing fixed configuration values or coordinates Imagine you are working with a set of geographical coordinates (latitude, longitude, altitude) or a configuration setting that should not change once set.

- In this case, a tuple is ideal because:

- The coordinates represent fixed, unchanging data. The tuple’s immutability prevents accidental modification, which could lead to errors or inconsistent behavior. Why not a list?

- If a list were used, the coordinates could be modified (e.g., accidentally changing the longitude), which is undesirable in this context.


Q14- How does the “in” keyword work differently for lists and dictionaries?

- The in keyword works differently for lists and dictionaries in Python:

- For lists: It checks if a value exists in the list.

- Example: 3 in [1, 2, 3, 4] returns True, because 3 is an element in the list.

- For dictionaries: It checks if a key exists in the dictionary, not the value.

- Example: 'name' in {'name': 'Alice', 'age': 30} returns True, because 'name' is a key in the dictionary.


Q15- Can you modify the elements of a tuple? Explain why or why not?

- No, you cannot modify the elements of a tuple in Python because tuples are immutable. Once a tuple is created, its elements cannot be changed, added, or removed. Why not?

- Immutability: The primary reason is that tuples are designed to be immutable to ensure data integrity. This means that once the tuple is created, its structure and contents are fixed and cannot be altered, which prevents accidental modifications.

Q16- What is a nested dictionary, and give an example of its use case.

- A nested dictionary is a dictionary where the values are themselves dictionaries. This allows you to represent more complex, hierarchical data structures.

Use Case:

- A common use case for a nested dictionary is representing data that naturally fits into a hierarchical structure, such as a school database or employee records.

Example:Accessing data from a nested dictionary:

Get Bob's major print(students["Bob"]["major"]) # Output: Math

Get Alice's age print(students["Alice"]["age"]) # Output: 22


Q17- Describe the time complexity of accessing elements in a dictionary.

- The time complexity of accessing elements in a Python dictionary is O(1) on average, thanks to hashing. This means retrieving a value by its key is done in constant time. In rare cases, it can degrade to O(n) due to hash collisions.


Q18- In what situations are lists preferred over dictionaries?

- Lists are preferred over dictionaries in the following situations:

- Maintaining Order: When the order of elements matters, as lists are ordered collections while dictionaries (prior to Python 3.7) are unordered.

- Index-Based Access: When you need to access elements by position/index rather than by key, as lists use numerical indices for access.


Q19- Why are dictionaries considered unordered, and how does that affect data retrieval?

- Dictionaries in Python were unordered before version 3.7 due to their hash table implementation, meaning the order of items was not guaranteed. Starting with Python 3.7, dictionaries preserve insertion order, but data is still retrieved by key, and retrieval remains efficient (O(1)average).

- Effect on Data Retrieval:

Pre-3.7 (Unordered): You cannot rely on the order of elements in a dictionary when retrieving data, as the order is not guaranteed.

my_dict = {"a": 1, "b": 2, "c": 3}


Order of keys might not be the same as insertion

Post-3.7 (Ordered): The insertion order is preserved, but this does not affect how you retrieve data. You still access data by key, and retrieval is efficient (O(1) on average), but now the order of elements is predictable.


my_dict = {"a": 1, "b": 2, "c": 3}


Insertion order is maintained:
print(my_dict) # Output: {'a': 1, 'b': 2, 'c': 3}





Q20- Explain the difference between a list and a dictionary in terms of data retrieval.

- The difference between a list and a dictionary in terms of data retrieval is:

- List: Data is retrieved by index (position). Lists are ordered collections, and you access elements by their numeric index, starting from 0. Retrieval time is O(1) for accessing an element by index.

- Dictionary: Data is retrieved by key. Dictionaries store key-value pairs, and you access values using unique keys. Retrieval time is O(1) on average for accessing values by key due to hashing.

**Data Types and Structures Practical Questions**

Q1.Write a code to create a string with your name and print it.

In [5]:
my_name = "Rajeshwar"
print(my_name)

Rajeshwar

Q2.  Write a code to find the length of the string "Hello World"

In [7]:
abc = "Hello World"
len(abc)

11

Q3.Write a code to slice the first 3 characters from the string "Python Programming".

In [9]:
text = "python programming"
sliced_text = text[:3]
print(sliced_text)

pyt

Q4.Write a code to convert the string "hello" to uppercase.

In [10]:
text = ("hello world")
text.upper()

'HELLO WORLD'

Q5.Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [11]:
text = ("i like apple")
text.replace("apple", "orange")

'i like orange'

Q6.Write a code to create a list with numbers 1 to 5 and print it.

In [13]:
list_1 = [1,2,3,4,5]
print(list_1)

[1, 2, 3, 4, 5]

Q7.Write a code to append the number 10 to the list [1, 2, 3, 4].

In [14]:
list_1 = [1,2,3,4]
list_1.append(10)
print(list_1)

[1, 2, 3, 4, 10]

Q8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [17]:
Text = [1,2,3,4,5]
Text.remove(3)
print(Text)

[1, 2, 4, 5]

Q9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [18]:
list_1 = ['a', 'b', 'c', 'd']
print(list_1[1])

b

Q10.Write a code to reverse the list [10, 20, 30, 40, 50].

In [19]:
list_1 = [10, 20, 30, 40, 50]
list_1.reverse()
print(list_1)

[50, 40, 30, 20, 10]

Q11.Write a code to create a tuple with the elements 10, 20, 30 and print it

In [20]:
tuple_1 = (10,20,30)
print(tuple_1)

(10, 20, 30)

Q12.Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [21]:
tuple_1 = ("apple", "banana", "cherry")
print(tuple_1[0])

apple

Q13.Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [22]:
tuple= ((1, 2, 3, 2, 4, 2))
tuple.count(2)

3

Q14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [23]:
tuple =('dog', 'cat', 'rabbit')
tuple.index('cat')

1

Q15.Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [24]:
tuple= ('apple', 'orange', 'banana')
"banana" in tuple

True

Q16.Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [28]:
set_1 = {1,2,3,4,5}
print(set_1)

{1, 2, 3, 4, 5}

Q17.Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [29]:
set_1 = {1,2,3,4}
set_1.add(6)
print (set_1)

{1, 2, 3, 4, 6}

Q18. Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [30]:
tuple_1 = (10,20,30)
print(tuple_1)

(10, 20, 30)

19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [31]:
tuple_1 = ("apple", "banana", "cherry")
print(tuple_1[0])

apple

Q20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [32]:
tuple_1 = (1,2,3,2,4,2)
tuple_1.count(2)

3

Q21 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [33]:
tuple_1= ('dog', 'cat', 'rabbit')
tuple_1.index("cat")

1

Q22.Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [34]:
tuple_1= ('apple', 'orange', 'banana')
("banana") in tuple_1

True

Q23.Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [35]:
set_1 = {1,2,3,4,5}
print(set_1)

{1, 2, 3, 4, 5}

Q24.Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [36]:
set_1 = {1,2,3,4}
set_1.add(6)
print (set_1)

{1, 2, 3, 4, 6}